<a href="https://colab.research.google.com/github/avinashnarra11/Tensor_flow/blob/main/Classification2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import tensorflow as tf

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:460: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:461: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:462: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:465: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
sensus = pd.read_csv('/content/census_data.csv')

In [3]:
sensus.head()

   age          workclass  ...  native_country  income_bracket
0   39          State-gov  ...   United-States           <=50K
1   50   Self-emp-not-inc  ...   United-States           <=50K
2   38            Private  ...   United-States           <=50K
3   53            Private  ...   United-States           <=50K
4   28            Private  ...            Cuba           <=50K

[5 rows x 14 columns]

In [4]:
sensus['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
  if label==' <=50K':
    return 0
  else:
    return 1

In [6]:
sensus['income_bracket'] = sensus['income_bracket'].apply(label_fix)

In [7]:
sensus.head()

   age          workclass  ...  native_country  income_bracket
0   39          State-gov  ...   United-States               0
1   50   Self-emp-not-inc  ...   United-States               0
2   38            Private  ...   United-States               0
3   53            Private  ...   United-States               0
4   28            Private  ...            Cuba               0

[5 rows x 14 columns]

In [8]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

In [9]:
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status' ,hash_bucket_size=10)
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size=50)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size=50)
race = tf.feature_column.categorical_column_with_hash_bucket('race', hash_bucket_size=50)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size=100)
gender = tf.feature_column.categorical_column_with_hash_bucket('gender', hash_bucket_size=10)
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size=20)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size=30)

In [39]:
embed_marital_status = tf.feature_column.embedding_column(marital_status, dimension=10)
embed_occupation = tf.feature_column.embedding_column(occupation, dimension=50)
embed_relationship = tf.feature_column.embedding_column(relationship, dimension= 50)
embed_race = tf.feature_column.embedding_column(race, dimension=50)
embed_native_country = tf.feature_column.embedding_column(native_country, dimension=100)
embed_gender = tf.feature_column.embedding_column(gender, dimension=10)
embed_workclass = tf.feature_column.embedding_column(workclass, dimension=20)
embed_education = tf.feature_column.embedding_column(education, dimension=30)

In [10]:
x_data = sensus.drop('income_bracket',axis=1)

In [11]:
labels = sensus['income_bracket']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x_data, labels, test_size=0.3, random_state=101)

Modeling

In [14]:
feat_cols = [age,education_num, capital_gain,capital_loss,hours_per_week, marital_status,occupation,relationship, race, native_country,gender,
             workclass, education]

In [15]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size= 10, num_epochs= 1000, shuffle= True)

In [16]:
model = tf.estimator.LinearClassifier( feature_columns= feat_cols, n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpzz6122yz
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpzz6122yz', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [17]:
model.train(input_fn= input_func, steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpzz6122yz/model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 268.214
INFO:tensorflow:loss = 135.87212, step = 101 (0.374 sec)
INFO:tensorflow:global_step/sec: 299.191
INFO:tensorflow:loss = 6.264593, step = 201 (0.341 sec)
INFO:tensorflow:global_step/sec: 280.221
INFO:tensorflow:loss = 4.3696856, step = 301 (0.352 sec)
INFO:tensorflow:global_step/sec: 275.936
INFO:tensorflow:loss = 115.17985, step = 401 (0.361 sec)
INFO:tensorflow:global_step/sec: 286.398
INFO:tensorflow:loss = 50.60522, step = 501 (0.351 sec)
INFO:tensorflow:global_step/sec: 295.765
INFO:tensorflow:loss = 83.49839, step = 601 (0.342 sec)
INFO:tensorflow:global_step/sec: 305.052
INFO:tensorflow:loss = 1.5576489, step = 701 (0.334 sec)
INFO:tensorflow:global_step/sec: 284.959
INFO:tensorflow:loss = 110.85125, step = 801 (0.340 sec)
INFO:tensorflow:global_step/sec: 302.119
INFO:tensorflow:loss = 39.870712, step = 901 (0.336 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpzz6122yz/model.ckpt.
INFO:tensorflow:Loss for final step: 0.9546604.

In [32]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x= X_test,batch_size=10, num_epochs=1,shuffle=False)

In [33]:
results = model.predict(input_fn= pred_input_func)

In [22]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(x= X_test,y=y_test,batch_size=10, num_epochs=1,shuffle=False)

In [23]:
model.evaluate(input_fn= eval_input_func)

WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
INFO:tensorflow:Starting evaluation at 2021-01-30-22:35:41
INFO:tensorflow:Restoring parameters from /tmp/tmpzz6122yz/model.ckpt-1000
INFO:tensorflow:Finished evaluation at 2021-01-30-22:35:45
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.80745214, accuracy_baseline = 0.7611833, auc = 0.8592765, auc_precision_recall = 0.63614047, average_loss = 5.3169107, global_step = 1000, label/mean = 0.23881666, loss = 53.163666, prediction/mean = 0.303459

{'accuracy': 0.80745214,
 'accuracy_baseline': 0.7611833,
 'auc': 0.8592765,
 'auc_precision_recall': 0.63614047,
 'average_loss': 5.3169107,
 'global_step': 1000,
 'label/mean': 0.23881666,
 'loss': 53.163666,
 'prediction/mean': 0.303459}

In [40]:
feat_cols1 = [age,education_num, capital_gain,capital_loss,hours_per_week,embed_marital_status,embed_native_country,embed_occupation,embed_race,
              embed_relationship,embed_workclass,embed_gender,embed_education]

In [41]:
model1 = tf.estimator.DNNClassifier(hidden_units=[12,12,12], n_classes=2, feature_columns=feat_cols1)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp4lisn4al
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp4lisn4al', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [42]:
model1.train(input_fn= input_func, steps=1000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp4lisn4al/model.ckpt.
INFO:tensorflow:loss = 4.6581917, step = 1
INFO:tensorflow:global_step/sec: 248.59
INFO:tensorflow:loss = 4.792199, step = 101 (0.404 sec)
INFO:tensorflow:global_step/sec: 280.085
INFO:tensorflow:loss = 5.932738, step = 201 (0.361 sec)
INFO:tensorflow:global_step/sec: 274.325
INFO:tensorflow:loss = 3.1290004, step = 301 (0.361 sec)
INFO:tensorflow:global_step/sec: 279.583
INFO:tensorflow:loss = 2.1710773, step = 401 (0.362 sec)
INFO:tensorflow:global_step/sec: 264.29
INFO:tensorflow:loss = 4.70091, step = 501 (0.376 sec)
INFO:tensorflow:global_step/sec: 296.424
INFO:tensorflow:loss = 4.2324395, step = 601 (0.337 sec)
INFO:tensorflow:global_step/sec: 289.886
INFO:tensorflow:loss = 5.159936, step = 701 (0.345 sec)
INFO:tensorflow:global_step/sec: 282.135
INFO:tensorflow:loss = 3.2755885, step = 801 (0.355 sec)
INFO:tensorflow:global_step/sec: 272.959
INFO:tensorflow:loss = 3.5586376, step = 901 (0.364 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmp4lisn4al/model.ckpt.
INFO:tensorflow:Loss for final step: 6.2664022.

In [43]:
model1.evaluate(input_fn=eval_input_func)

WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
INFO:tensorflow:Starting evaluation at 2021-01-30-23:18:38
INFO:tensorflow:Restoring parameters from /tmp/tmp4lisn4al/model.ckpt-1000
INFO:tensorflow:Finished evaluation at 2021-01-30-23:18:42
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.80397177, accuracy_baseline = 0.7611833, auc = 0.8406749, auc_precision_recall = 0.6421947, average_loss = 0.37989464, global_step = 1000, label/mean = 0.23881666, loss = 3.7985575, prediction/mean = 0.22067544

{'accuracy': 0.80397177,
 'accuracy_baseline': 0.7611833,
 'auc': 0.8406749,
 'auc_precision_recall': 0.6421947,
 'average_loss': 0.37989464,
 'global_step': 1000,
 'label/mean': 0.23881666,
 'loss': 3.7985575,
 'prediction/mean': 0.22067544}